/* src/GithubRepos.css */
.repo-container {
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh; /* Full height for the container */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* More spacious grid */
  margin-top: 20px;
  gap: 50px; /* Increased gap between cards */
  max-width: 700px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between elements for balanced layout */
  background: rgba(19, 18, 18, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
}

.card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.repo-description {
  font-size: 12px; /* Adjusted font size */
  color: #fff; /* Darker text for better readability */
  margin-bottom: 10px;
}

.repo-name {
  font-size: 20px; /* Larger font size */
  font-weight: bold;
  color: #fff; /* Blue color for the name */
  margin-bottom: 15px; /* Spacing below the name */
}

.repo-link {
  display: inline-block; /* Keeps the link inline */
  margin-top: 10px;
  padding: 12px 18px; /* Comfortable padding */
  color: #0056b3; /* Blue text for visibility */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  white-space: nowrap; /* Prevent text wrapping */
}

.repo-link:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem;
  color: #9e9d9d;
  padding: 10px;
  background-color: transparent;
  border-top: 1px solid #e0e0e0;
}

.footer p {
  margin: 0;
  /* font-weight: bold; */
  font-style: italic;
}
