.page {
  font-family: "Arial", sans-serif;
  margin: 20px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.definition {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.quote {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0;
  color: #4caf50;
}

.section {
  margin-bottom: 30px;
  text-align: left;
  padding: 10px;
  margin: 50px;
  border-radius: 8px;
  background-color: #181717;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subheading {
  font-size: 1.8rem;
  margin-bottom: 15px;
  margin: 10px;
  color: #ffffff;
}

span{
  color: #ff5722;
  font-style: italic;
}

.list {
  font-size: 1.2rem; /* Increase font size */
  list-style-type: circle; /* Change bullet style */
  margin: 20px; /* Add spacing */
  padding-left: 30px; /* Indent from the left */
  max-width: 1200px; /* Adjust width */
  color: #fff; /* Darker text color */
  line-height: 2.5; /* Improve readability */
  text-align: left; /* Align to the left */
  padding: 15px; /* Add padding inside the list */
  border-radius: 8px; /* Round the edges */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.start-journey {
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.button-tag {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ff5722;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-tag:hover {
  background-color: #e64a19;
}
