@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #000;
  overflow-y: scroll; /* Ensures scrollbar is visible */
}

/* Scrollbar styles for WebKit-based browsers */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #fff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc; /* Lighter color on hover */
}

/* Scrollbar color for Firefox */
body {
  scrollbar-color: #fff #000; /* Thumb color, Track color */
  scrollbar-width: thin; /* Thin scrollbar */
}
